################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DP.TwinRinksScheduleParser/bin
/DP.TwinRinksScheduleParser/obj
/packages
/DP.Tests/bin/
/DP.Tests/obj/Debug
/DP.TwinRinksHelperWeb/obj
/TestResults
/DP.TwinRinksHelperWeb/bin/Debug/netcoreapp2.0
/DP.Tests/obj/Release
/DP.TwinRinksHelperWeb/bin/Release/netcoreapp2.0
*.user
