################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DP.TwinRinksScheduleParser/bin
/DP.TwinRinksScheduleParser/obj
/packages
/DP.Tests/bin/
/DP.Tests/obj/Debug
/DP.TwinRinksHelperWeb/obj
