

/* Make .svg files in the carousel display properly in older browsers */

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide Stuff */
  
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

tr:nth-child(odd) {
    background-color: #fff;

}

tr:nth-child(even) {
    background-color: #eee;
}